@import "variables.css";
@import "reset.css";
@import "typography.css";
@import "content.css";

html {
  scroll-timeline: --page-scroll block;
  scroll-padding-block-start: var(--top-padding-offset, 130px);
}

.logo {
  &__wordmark {
    aspect-ratio: 448 / 275;
    display: block;
    width: 100%;
    height: auto;
  }
}

.section {
  &--full-width,
  &--padding-full-width {
    grid-column: 1 / -1;
  }

  &--padding-full-width {
    padding-inline: var(--column-width);
  }
}
